<app-header></app-header>
<!-- <h1>Post Cast</h1> -->
<main class="postcast_main_container">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="dynamic_numbers">
          <h3>1</h3>
        </div>
      </div>

      <div class="col-md-2 shared_bg">
        <div class="alexa-img">
          <img
            src="https://source.unsplash.com/1600x900/?radio"
            class="img-fluid"
            alt="image"
          />
        </div>
      </div>
      <div class="col-md-4 shared_bg">
        <div class="authors-container">
          <h3>Alexa Stop</h3>
          <p>by <span>Robert Belgrove</span> & <span>Jim Bowes</span></p>
          <hr />
          <img
            src="assets/images/svg/apple.svg"
            class="img-fluid"
            alt="image"
          />
          <small class="text-muted ml-1">TUNES</small> &nbsp;

          <img src="assets/images/svg/link.svg" class="img-fluid" alt="image" />
          <small class="text-muted ml-1">WEB</small> &nbsp;
          <img src="assets/images/svg/rss.svg" class="img-fluid" alt="image" />
          <small class="text-muted ml-1">RSS</small>
        </div>
      </div>
      <div class="col-md-3 shared_bg">
        <div class="right_container_text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
            corrupti?
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
